[Application]
name=DCU Monitoring Agent
version=1.0.0
# The main script entry point
entry_point=agent.main:main

[Python]
version=3.7.3

[Include]
# Local packages or modules
packages =
    agent
    pydantic
    pystray
    PIL
    requests
    yaml
    win32timezone
    urllib3
    colorlog

files =
    config/agent_config.yaml > config/
